@import "../style/variables.scss";
.knowledge {
  @media (min-width: 768px) {
    display: flex;
    place-items: center;
  }
}

.text-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  @media (min-width: 768px) {
    max-width: 90%;
  }
  @media (min-width: 1024px) {
  }
}
.text-html {
  font-size: 2rem;
  margin-right: 1rem;
}

.text-react {
  font-size: 5.5rem;
  margin-right: 1rem;
  font-weight: bold;
  color: $grey300;
  text-decoration: underline;
}
.text-js {
  font-size: 3rem;
  margin-right: 1rem;
  color: $grey300;
}

.text-css {
  font-size: 5rem;
  font-family: $FontHeading;
  margin-right: 1rem;
}

.text-ts {
  font-size: 4.5rem;
  margin-right: 1rem;
}

.text-vue {
  font-size: 3rem;
  font-family: $FontHeading;
  margin-right: 1rem;
}

.text-scss {
  font-size: 2.3rem;
  margin-right: 1rem;
}

.text-express {
  font-size: 2.7rem;
  margin-right: 1rem;
  font-weight: bolder;
  color: $grey300;
}

.text-git {
  font-size: 3.5rem;
  margin-right: 1rem;
  color: $grey300;
}

.text-vite {
  font-size: 5rem;
  font-family: $FontHeading;
  margin-right: 1rem;
}

.text-axios {
  font-size: 2.7rem;
  margin-right: 1rem;
}

.knowledge-cv-container {
  @media (min-width: 768px) {
    margin-left: -4rem;
    margin-top: 0;
  }
  @media (min-width: 1024px) {
    // margin-left: 0rem;
    margin-top: 0;
  }
}
