@import "../style/variables.scss";

.icons {
  transition: transform 0.3s ease-in-out;
}

.icons:hover {
  transform: scale(1.1);
}

.light.icons {
  color: whitesmoke;
}

.aboutjennyrandom {
  ul {
    margin: 0;
    padding: 0;

    list-style: none;
    font-size: 1rem;
    text-transform: none;
    font-family: $FontParagraph;

    li {
      margin-bottom: 1rem;
    }
  }
}
