@import "../style/variables.scss";

.icons {
  transition: transform 0.3s ease-in-out;
}

.icons:hover {
  transform: scale(1.1);
}

.light.icons {
  color: whitesmoke;
}

.aboutjennyrandom {
  ul {
    margin: 0;
    padding: 0;

    list-style: inside;
    font-size: 1.2rem;
    text-transform: none;
    font-family: $FontParagraph;
    max-width: 90%;

    li {
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    place-items: center;
  }
}

.random {
  @media (min-width: 768px) {
    display: flex;
    place-items: center;
  }
}
