

$FontHeading: 'Alatsi', Helvetica, Arial, sans-serif;
$FontParagraph: 'Maitree', Times, serif;

$primary1: #E0B9F9;
$primary2: #CC86F9;
$primary3: #CC86F9;

$secondary1: #A4B3FF;
$secondary2: #6E83E8;
$secondary3: #475CC1;

$accent1: #61CFCB;
$accent2: #06B1AB;
$accent3: #2A9591;

$grey100: #F8F8F8;
$grey300: #DEE1EF;
$grey500: #8D92AB;
$grey700: #2A2E45;

// §gradient-background: rgb(244,198,234);
$gradient-background: linear-gradient(137deg, rgba(244,198,234,1) 0%, rgba(143,132,238,1) 34%, rgba(110,131,232,1) 48%, rgba(6,177,171,1) 100%);