$FontHeading: "Alatsi", Helvetica, Arial, sans-serif;
$FontParagraph: "Maitree", Times, serif;

$primary1: #e0b9f9;
$primary2: #cc86f9;
$primary3: #cc86f9;

$secondary1: #a4b3ff;
$secondary2: #6e83e8;
$secondary3: #475cc1;

$accent1: #61cfcb;
$accent2: #06b1ab;
$accent3: #2a9591;

$grey100: #f8f8f8;
$grey300: #dee1ef;
$grey500: #8d92ab;
$grey700: #2a2e45;

// §gradient-background: rgb(244,198,234);
$gradient-background: linear-gradient(
  137deg,
  rgba(244, 198, 234, 1) 0%,
  rgba(143, 132, 238, 1) 34%,
  rgba(110, 131, 232, 1) 48%,
  rgba(6, 177, 171, 1) 100%
);
